
/* .navbar-brand {
  font-size: x-large;
  font-family: 'Pacifico', cursive;
}

.navbar-nav > li {
  margin-left: 0px;
  padding: 10px 20px;
} */

/* body, #app {
  width: 100%;
  min-height: 100%;
  background-color: rgb(100, 100, 100);
} */

/* .nav-link:hover {
  background-color: rgb(119, 119, 119);
} */

/* OWNER V ENGINEER COVER  */

/* .bg-div {
  margin: 0;
} */

/* .welcome-bg-pic {
  flex: 1 1 1200px;
  display: grid;
  place-items: center;
  background-size: cover;
  height: 400px;
}

#arch-pic {
  background-image: url('assets/img/architect.png');
}

#eng-pic {
  background-image: url('assets/img/cranes.png');
} */

/* WELCOME */

/* #welcome-body {
  padding-bottom: 10%;
  padding-top: 10%;
  background-image: url('assets/img/stock-welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

} */

/*
.welcome-section {
  width: 40%;
  margin-left: 90px;
  padding: 60px 50px;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: black; */
}
*/

/* h4 {
  color: white;
}

h1 {
  font-size: xxx-large;
  color: white;
}

.welcome-message {
  margin-bottom: 30px;
} */

/* .sign-up {
  margin: 7.5px;
  border-radius: 15px;
  padding: 15px;
} */

/* DESCRIPTION */

.description-body {
  /* background-color: black; */
}

/* .descript {
  margin: 75px 30px;
  flex: 0 1 400px;
} */

/* .description-body img {
  width: 125px;
  display: block;
  margin: 20px auto;
} */

/* .description-body p {
  font-size: 1.33em;
  margin: 50px 20px 20px 20px;
  text-align: center;
} */

/* #descript-learn-more {
  margin-bottom: 100px;
  margin-left: 40%;
  margin-right: 40%;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 15px;
  flex: 0 0 90%;
} */

/* RANDOM DIVIDER */

/* #random-image {
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
} */

/* FORUM */

/* .filter-forum {
  width: 50%;
  min-height: 80px;
  margin-top: 80px;
  margin-left: 15%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid orange;
} */

/* .filter-button:first-child {
  margin-left: 20px;
}

.filter-button {
  margin: 20px 15px;
  border-radius: 20px;
  padding: 8px 15px;
} */

/* .fas {
  margin-right: 8px;
} */

/* button.ellipsis {
  border-radius: 50%;
  padding: 8px 12px;
}

#ellipsis {
  margin-right: 0;
} */

/* NEW POST  */

/* .new-post {
  width: 50%;
  min-height: 100px;
  margin-top: 0;
  margin-left: 15%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 25px;
} */

/* img.user {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
} */

/* #dropdownMenuButton {
  border-radius: 20px 0 0 20px;
  width: 200px;
} */

/* #new-post {
  color: rgb(134, 134, 134);
  width: 45%;
  text-align: left;
  border-radius: 0;
} */

/* #new-post:hover {
  background-color: rgb(224, 224, 224);
  border-color: rgb(223, 223, 223);
} */

/* #new-post-submit {
  border-radius: 0 20px 20px 0;
}

#new-post-submit:hover {
  box-shadow: 0 0 10px rgb(121, 101, 79);
} */

/* FORUM POSTS */

/* .tweet {
  display: grid;
  grid-template-columns: repeat(8, 12.5% [col-start]);
  grid-template-rows: [rline1] 50px [rline2] minmax(40px, auto) [rline3] 40px [rline4];
  padding: 20px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  place-items: center;
} */

/* .message {
  grid-column: 1/8;
  grid-row: 1;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  justify-self: start;
} */

/* .details {
  grid-column: 1/8;
  grid-row: rline2;
  /* color: white; */
  /* font-weight: bold; */
  /* font-size: 1em; */
/* } */

/*hr {
  border: none;
  border-bottom: 2px solid #575757;
  /* clear: both; */
  /* grid-row: rline3;
  align-self: start;
  grid-column: 1 / 8;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
} */

.comment-div {
  /* font-family: Arial, Helvetica, sans-serif */
  /* font-size */
  /* grid-column: 1;
  grid-row: rline3;
  align-self: center;
  justify-self: start; */
}

i.fa-comment {
  /* grid-column: 1;
  grid-row: rline3; */
  /* font-size: 15px;
  padding-right: 0;
  margin-top: 2px;
  margin-right: 0; */
}

.username {
  /* grid-column: 6 / 8;
  grid-row: rline3;
  justify-self: end;
  align-self: center;
  color: blue; */
}

/* .icon-wrapper { */
  /* display: grid; */
  /* grid-column: 8; */
  /* justify-self: center; */
  /* place-items: center; */
/* } */

/* #stamp-wrapper {
  grid-row: rline1;
}

#detail-wrapper {
  grid-row: rline2;
} */

/* .forum-pic {
  position: relative;
  width: 40px;
  top: 40px;
  left: 30px;
} */

.hidden {
  visibility: hidden;
}

.icon-hover {
  position: relative;
  /* width: 100px; */
  top: 30px;
  margin-right: -40px;
  left: 80px;
  visibility: hidden;
}

#stamp-wrapper:hover .icon-hover {
  visibility: visible;
}

#detail-wrapper:hover .icon-hover {
  visibility: visible;
}

.halftone {
  filter: grayscale(100%);
  opacity: 30%;
}